{% from 'bootstrap/form.html' import render_field, render_hidden_errors, render_form_row %}
{% extends 'base.html' %}

{% block content %}
<div class="container mb-5">
  <main>
    <div class="py-5 text-center">
      <h2>Exerciseur</h2>
      <p class="lead">Please browse in the following form.</p>
    </div>

    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Enter at least one information</h4>
        <form class="needs-validation" method="POST" action="{{ url_for('table') }}" novalidate>
          {{ form.csrf_token }}
          <div class="row g-3">
            <div class="col-12">
                  {{ form.hidden_tag() }}
                  {{ render_hidden_errors(form) }}
                  {{ render_field(form.formContent) }}
                  
                  {% if form.formContent.errors %}
                    <ul class="border border-danger">
                    {% for error in form.formContent.errors %}
                     <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}



                  {# % if form.formContent.errors % #}  
                <!-- <div class="invalid-feedback">
                  Valid name is required. 
                </div> -->
                {# % endif % #}
                {{ render_field(form.category) }}
              <ul class="list-inline" style="list-style-type: none;">
                {{ form.cat_test }}

              </ul>
              {{ form.cat_test2 }}
              {{ form.cat_test3 }}
                
              </div>
            </div> 
            
            {{ render_field(form.submit) }}
          </div>
        </form>
      </div>
    </div>
  </main>

</div>

{% endblock %}