{% from 'bootstrap/table.html' import render_table %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% extends 'base.html' %}

{% block content %}

<main>
    <div class="container">
        <h4 class="row g-5">
            Groupes disponibles 
        </h4>
    </div>

    {% if groups == 'Aucun résultat !' %} 
    <div class="container text-center">
        {{ groups }}
    </div>
    {% else %}
    {{ render_table(groups, titles=[('id', '#'), ('level', 'Niveau'), ('chapters', 'Chapitres')], show_actions=True, actions_title="Élèves/Sessions d'exercices", custom_actions=[('Élèves', 'people-fill', url_for('groups_students', group_id=':id')), ('Devoirs', 'easel',url_for('groups_sessions', group_id=':id'))])}}
    <div class="col-12">
        {{ render_pagination(pagination) }}
    </div>
    {% endif %}
</main>

{% endblock %}