{% from 'bootstrap/table.html' import render_table %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% extends 'base.html' %}

{% block content %}

<main>
    <div class="container">
        <h4 class="row g-5">
            Étudiants du groupe {{ grpName }}  
        </h4>
    </div>

    {% if students == 'Aucun résultat !' %} 
    <div class="container text-center">
        {{ students }}
    </div>
    {% else %}
    {{ render_table(students, show_actions=True, actions_title='Détails élève', view_url=url_for('student', user_id=':primary_key', group_id=':primary_key'))}} 
    {{ render_pagination(pagination) }}
    {% endif %}
</main>

{% endblock %}