{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_icon %}

<ul class="list-inline">
    <li class="list-inline-item">
        {% include 'side_nav.html' %}
    </li>
    <li class="list-inline-item">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-nav mr-auto">     
           
                 {{ render_nav_item('index', 'Exerciseur') }}
                 {{ render_nav_item('index', 'Français') }}
                 {{ render_icon("bi bi-caret-down-fill", size=25, color='black') }}
                 {{ render_nav_item('table', 'Connexion') }}
                 {{ render_nav_item('index', render_icon("bi bi-caret-down-fill")) }}
            
            </div>
        </nav>
    </li>
</ul>



