{% extends 'base.html' %}

<!-- TODO -->

{% block content %}
<main>
    <div class="container">
        <h2 class="row g-5">
            Présentation :  
        </h2>
        
        <h2 class="row g-5">
            Comment utiliser cette application ?  
        </h2>

        <h3>
            Vous êtes enseignant :
            <h4>
                L'Analyseur Métal :

                <h5>
                    L'analyseur Métal est à votre disposition pour vous aider à générer des questions. Pour l'utiliser vous devez tout d'abord fournir un texte à l'analyseur. 
                    Celui-ci va vous 
                </h5>
            </h4>

            <h4>
                Les Chapitres :
            </h4>

            <h4>
                Les Sessions d'exercices :
            </h4>

            <h4>
                La création d'exercices :
            </h4>

            <h4>
                Les groupes d'élèves :
            </h4>
    
        </h3>

        
        <h3>
            Vous êtes élève :
        </h3>
    </div>
</main>
{% endblock %}