{% from 'bootstrap/form.html' import render_field %}
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <main>
      <div class="py-5"> 
        <h2>Modification de la notion trouvée par l'analyseur :</h2>
      </div>
  
      <div class="row g-5">
        <div class="col-md-7 col-lg-8">
          <form class="needs-validation" method="POST" action="{{ url_for('modified_validation', txt_name=txt_name, notion_id=notion_id) }}" novalidate> <!-- txtName passed from views-->
            {{ form.csrf_token }}
            <div class="row g-3">

             <div class="col-12">
                {{ render_field(form.name) }}
             </div> 

             <div class="col-12">
              {{ render_field(form.notion_item) }}
             </div> 

             <div class="col-12">
                {{ render_field(form.submit) }}
             </div> 

            </div>
          </form>
        </div>
      </div>
    </main>
</div>
{% endblock %}