{% from 'bootstrap/table.html' import render_table %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% extends 'base.html' %}

{% block content %}

<main>
    <div class="container">
        <h3 class="row g-5">
            {{ studentFirstName }} {{ studentLastName}}
        </h3>
    </div>

    <div class="container"> 
        <h5>
          Tableau de bord :
        </h5>

        {{ html }}
    </div>

    {% if answers == 'Aucun résultat !' %} 
    <div class="container text-center">
        {{ answers }}
    </div>
    {% else %}
    {{ render_table(answers)}}
    {{ render_pagination(pagination) }}
    {% endif %}

    <div class="col-12 my-3">
        <h5>
           Sessions d'exercices réalisées :
        </h5> 
    </div>

    <div class="col-12 my-3">
        <h5>
            Commentaires à l'élève :
        </h5>
    </div>

    <div class="col-12 my-3">
        <h5>
            Commentaires personnels (non visible par l'élève) :
        </h5>
    </div>
</main>

{% endblock %}