{% from 'bootstrap/table.html' import render_table %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% extends 'base.html' %}

{% block content %}

<main>
    <div class="container">
        <h4 class="row g-5">
            {{ studentFirstName }} {{ studentLastName}}
        </h4>
    </div>

    {% if answers == 'Aucun résultat !' %} 
    <div class="container text-center">
        {{ answers }}
    </div>
    {% else %}
    {{ render_table(answers)}}
    {{ render_pagination(pagination) }}
    {% endif %}
</main>

{% endblock %}