{% from 'bootstrap/table.html' import render_table %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% extends 'base.html' %}

{% block content %}
{# pour l'instant ça affiche la liste des chapitres et non des exos #}
{# renvoie sur index au lieu de suppr etc. #}
<div class="m-3"> <!-- add something to deal with the footer position-->
    <main> 
        {% if chaps == 'Aucun résultat !' %} <!-- should be using an id in case we have different languages -->
        <div class="container text-center">
            {{ chaps }}
        </div>
        {% else %}
        {{ render_table(chaps) }}
        {{ render_pagination(pagination) }}
        {% endif %}
    </main>
</div>

{% endblock %}