{% from 'bootstrap/form.html' import render_field %}
{% from 'bootstrap/utils.html' import render_icon %}
{% from 'bootstrap/table.html' import render_table %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% extends 'base.html' %}

{% block content %}
<!-- ajouter de la pagination -->
<div class="container">
    <main> 
      <div class="row g-5">
        <div class="col-md-7 col-lg-8">
          <form class="needs-validation" method="POST" novalidate> <!--change by the result  , submitted_status = 'True'       action="{{ url_for('validation', txt_name = form.txt  ) }}"-->
            {{ form.csrf_token }}
            <div class="row g-3">
                <div class="py-5 mx-3"> <!--text-center-->
                    <h4>Sélectionner un nouveau texte à analyser :</h4>
                  </div>
              <div class="col-12">
                    {{ render_field(form.txt) }}
                </div> 
              <div class="col-12">   
                {{ render_field(form.submit) }}
              </div>
            </div>
          </form>
        </div>
      </div>

  {% if submit == 'True' %}
     
    <!-- si on a sélectionné le texte alors on voit ça apparaitre -->
    
    <div class="container">
      <div class="row g-5 my-3  "> <!-- Texte analysé (à aligner) -->
        <h5>
          Texte analysé :
        </h5>
        <!--   here we will have the displayed text and infos after analysis-->
        {% if txtName is not none  %} <!--- is not none -->
          <h5 class="font-weight-bold font-italic mx-3 mb-2" id="text-analysed">
            {{ txtName }}
          </h5>
        {% endif %}         
      </div>

      <div class="row g-5"> <!-- Notions extraites -->
        <h5 id="extracted-notions">
          Notions extraites :
        </h5>
        {% if notions is not none %}
        <ul class="list-inline"> 
          {% for n in notions %}
          <li class="list-inline-item">
              <div class="container pb-2">
                <!-- where the notion pods should be -->
                {#  if display== True  class=qq chose endif      #}
                <a class="btn btn-success text-white"> {{ n.name }} </a> 
              </div>
          </li>
          {% endfor %}
        {% endif %}
          <!-- fake buttons just to test them -->
          <li class="list-inline-item">
            <div class="container pb-2">
              <!-- where the notion pods should be -->
             <!-- <a class="btn btn-danger text-white">COD</a> --> 
             <button class="btn btn-danger text-white" id="notion2" type="button">
              <span onclick="button_click(notion2)"> COD </span>
             </button> 

            </div>
          </li>

          <li class="list-inline-item">
            <div class="container pb-2">
              <!-- where the notion pods should be -->
              <a class="btn btn-danger text-white">Pronoms</a> <!-- border radius plz -->

            </div>
          </li>
        </ul> 

        <div class="container row g-5">
          <small class="font-italic">
            Cliquez sur une notion pour l'afficher 
          </small>
        </div>

        <h6 class="my-3">
          Veuillez confirmer que l'analyseur a trouvé les bonnes notions : 
        </h6>
      </div>
    </div>

    <!-- table for validation of notions found  -->
    <!-- we want to paginate the table -->
    <div class="container">
      {% if notions is not none %}
      {{ render_table(notions, titles=[('name', 'Intitulé'), ('questions', 'Questions'),('notion_item', 'Élément grammatical'), ('corpuses', "Textes d'apparition")], show_actions=True, edit_url= url_for('modify_validation', notion_id=':primary_key') , delete_url= url_for('delete_validation', notion_id=':primary_key') ) }}
      {{ render_pagination(pagination) }}
      {% endif %}
    </div>

  {% endif %}


    </main>

     
</div>

{{ form.hidden_tag() }}

{% endblock %}